@page "/Home/About"

<h2>@Title</h2>
<h3>@Message</h3>

<p>Use this area to provide additional information.</p>

@functions{
    string Title = "About";

    string Message = "Your application description page.";
}